/********************************
		
					GLOBAL
		
********************************/

html,
body {
	height: 100%;
	color: #C2C2CA;
	font-family: 'Open Sans', sans-serif;
}

body {
	position: relative;
}


/********************************
		
					NAV BAR
		
********************************/

#deezer-logo img {
	width: 115px;
}

#deezer-logo {
	margin-left: 50px;
	margin-top: 12px;
}

.bar-recherche {
	padding-top: 12px;
	padding-left: 12px;
}

form {
	width: 500px;
	margin: 0 auto;
}

.rechercher {
	padding: 6px 30px 6px 10px;
	margin: 3px;
}

input[type=text] {
	border: 1px solid #acb1b7;
	background-color: #C2C2CA;
	color: #23232C;
	width: 180px;
	border-radius: 5px;
	outline: none;
}

::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #23232C;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #23232C;
	opacity: 1;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #23232C;
	opacity: 1;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #23232C;
}

#search-button {
	margin-left: -30px;
	background: url("../images/loupe.png");
	background-color: none;
	border: none;
	width: 16px;
	height: 16px;
	outline: none;
}

#user-profile {
	width: 50px;
	margin: auto;
}

#container-user {
	width: 80%;
	margin: auto;
	text-align: center;
	border-top: 0.5px #C2C2CA solid;
	padding-top: 20px;
	margin-top: 20px;
}

#nav-bar {
	position: fixed;
	left: 0;
	top: 0;
	/*background-image: -webkit-linear-gradient(left, #121212 0%, #00172B 100%);*/
	background-color: #23232C;
	height: 100%;
	width: 220px;
}

#nav-bar ul {
	font-size: 13px;
	list-style: none;
	text-transform: uppercase;
	padding-left: 0px;
	line-height: 30px;
}

#nav-bar li {
	padding-left: 20px;
}

#nav-bar li:hover {
	font-weight: 600;
	color: white;
	background-color: #1C1C25;
	border-left: 1px #007FEB solid;
}

#menu {
	padding-top: 12px;
}

#nav-bar h1 {
	text-align: center;
	margin: 0;
	padding: 10px;
}

#user-button {
	padding-left: 50%;
	margin-left: -7px;
	font-size: 20px;
	color: #C2C2CA;
	text-align: center;
}

#user-button:hover i {
	color: #FFFFFF;
}

#user-interface {
	list-style: none;
	text-transform: uppercase;
}

#user-interface li {
	font-size: 12px;
	line-height: 28px;
}

.rotate {
	-moz-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}

#nav-bar a {
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}


/********************************
		
					RIGHT BAR
		
********************************/

#right-bar {
	position: fixed;
	right: 0;
	top: 0;
	background-color: #23232C;
	height: 100%;
	width: 215px;
}

#toggleButton-right {
	padding-right: 2%;
	padding-top: 10px;
	font-size: 20px;
	color: #C2C2CA;
	float: right;
}

#toggleButton-right:hover {
	color: #FFFFFF;
}


/********************************
		
					MENU RIGHT BAR
		
********************************/

.tab {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	background-color: #23232C;
	width: 100%;
	margin: 0 0;
	line-height: 1.5;
	font-weight: 300;
	color: #888;
	-webkit-font-smoothing: antialiased;
}

.tabs {
	display: table;
	position: relative;
	overflow: hidden;
	margin: 0;
	width: 100%;
}

ul.tabs.active {
	padding: 0;
}

.tabs li {
	float: left;
	line-height: 38px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 33%;
	text-align: center;
}

.tabs a {
	background-color: #23232C;
	border-bottom: 1px solid #fff;
	color: #C2C2CA;
	font-weight: 500;
	display: block;
	letter-spacing: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-bottom: 2px solid #007FEB;
}

.tabs_item {
	display: none;
	padding: 35px 0px;
	color: #FFFFFF;
	font-size: 12px;
}

.tabs_item .track {
	padding: 2px 0;
	background-color: #f6f6f6;
	border-bottom: 1px #FFFFFF solid;
}

.tabs_item .title {
	font-style: italic;
}

.tabs_item .artist {
	font-style: italic;
	font-weight: 600;
}

.tabs_item img {
	width: 35px;
	float: left;
	margin-right: 10px;
	margin-bottom: auto;
	margin-top: auto;
}

.tabs_item:first-child {
	display: block;
}

.current a {
	color: #fff;
	background: #007FEB;
}


/********************************
		
							PLAYLIST
		
********************************/

.acc h2 {
	color: #C2C2CA;
	font-size: 12px;
	letter-spacing: 1px;
	margin: 0;
	text-transform: uppercase;
	padding: 0;
}

.acc p {
	color: #C2C2CA;
	font-size: 14px;
	line-height: 1.5;
}

.acc .container_playlist {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.acc {
	margin: 0px 0;
	overflow: hidden;
	padding: 0;
}

.acc li {
	list-style-type: none;
	padding: 0;
	border: none;
}

.acc_ctrl {
	background: #23232C;
	border: none;
	border-bottom: solid 1px #007FEB;
	cursor: pointer;
	display: block;
	outline: none;
	padding: 15px;
	position: relative;
	text-align: center;
	width: 100%;
}

.acc_ctrl:before {
	background: #44596B;
	content: '';
	height: 2px;
	margin-right: 37px;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	width: 14px;
}

.acc_ctrl:after {
	background: #44596B;
	content: '';
	height: 2px;
	margin-right: 37px;
	position: absolute;
	right: 0;
	top: 50%;
	width: 14px;
}

.acc_ctrl.active:before {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.acc_ctrl.active h2,
.acc_ctrl:focus h2 {
	position: relative;
}

.acc_panel {
	background-color: #1C1C25;
	display: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.track:last-child {
	border-bottom: solid 1px #007FEB;
}

#new_playlist {
	padding: 0;
	list-style: none;
	margin: 0;
	margin-bottom: 0px;
	background: #23232C;
	border: none;
	border-bottom: solid 1px #007FEB;
	cursor: pointer;
	display: block;
	outline: none;
	padding: 15px;
	position: relative;
	text-align: center;
	width: 100%;
}

#new_playlist h2 {
	color: #C2C2CA;
	font-size: 12px;
	letter-spacing: 1px;
	margin: 0;
	text-transform: uppercase;
	padding: 0;
}


/********************************
		
								PLAY BAR
		
		********************************/

#play-bar {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #23232C;
	bottom: 0;
}

.relativeBtn {
	width: 100%;
	height: 100%;
	position: relative;
}

#play-bar .containerInfos {
	width: 250px;
	position: absolute;
	top: 0px;
	left: 225px;
	font-size: 12px;
	line-height: 1px;
}

.artTitle {
	margin-top: 12px;
}

#play-bar .containerInfos .title {
	display: block;
	float: left;
	font-style: italic;
	margin-right: 5px;
}

#play-bar .containerInfos .artist {
	margin-top: 20px;
	display: block;
	float: left;
	font-style: italic;
	font-weight: 600;
}

#play-bar .containerInfos img {
	float: left;
	width: 50px;
	margin-right: 10px;
}

.containerBtn {
	position: absolute;
	bottom: 12px;
	width: 220px;
	display: inline-block;
	text-align: center;
}

.containerBtn i {
	font-size: 25px;
	margin-right: 20px;
}

.relativeBtn i:hover {
	color: #FFFFFF;
}

.playBtn {
	display: inline-block;
}

.playBtn i {
	font-size: 30px;
	display: none;
}

.playBtn i.active {
	display: inline-block;
}

.audiojs {
	position: absolute;
	left: 500px;
	height: 100%;
	background: #23232C;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	display: inline-block;
}

.audiojs .loaded {
	height: 5px;
	background: #000000;
}

.audiojs .progress {
	height: 5px;
	background: #FFFFFF;
}

.audiojs .scrubber {
	margin-top: 22px;
	height: 5px;
	border: none;
}

.audiojs .play-pause {
	display: none;
}

.audiojs .time {
	border: none;
	margin-top: 7px;
}

.wrapper {
	display: inline-block;
}

.heartBtn {
	position: absolute;
	left: 920px;
	top: 15px;
}


/********************************
		
					HOME CONTENT
		
********************************/

.container-fluid {
	padding-right: 0;
	padding: 0;
}

#content {
	margin-left: 220px;
}

.overflow {
	overflow-y: scroll;
	overflow: hidden;
}


/********************************
		
				PAGE ACCUEIL
		
********************************/

#accueil {
	margin-bottom: 25px;
}

#accueil .bgFlow {
	background-image: url(../images/phrrell.jpg);
	height: 740px;
	text-align: center;
}

#accueil .bgFlow h2 {
	font-size: 40px;
	color: white;
	margin-bottom: 50px;
}

#accueil .bgFlow p {
	font-size: 50px;
	color: white;
}

#accueil .bgFlow img {
	width: 70px;
	height: 70px;
	margin-bottom: 50px;
}

#accueil .bgFlow #trait {
	height: 2px;
	width: 100px;
	margin: auto;
	background-color: white;
}

#accueil .valign {
	vertical-align: middle;
	height: 100%;
	display: inline-block;
}

#accueil #encadrement {
	vertical-align: middle;
	display: inline-block;
}

#accueil .slider {
	width: 620px;
	height: 350px;
	overflow: hidden;
}

#accueil .slider li {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	resize: both;
}

#accueil h3 {
	font-size: 25px;
	color: dimgrey;
	margin-top: 50px;
	margin-bottom: 30px;
	padding-left: 45px;
}

#accueil #ecouter {
	position: absolute;
	left: 200px;
	bottom: 20px;
	text-transform: uppercase;
	outline: none;
	background-color: #007FEB;
	color: #FFFFFF;
	transition: all 150ms ease-in-out;
	appearance: none;
	border: none;
	border-radius: 0.6em;
	cursor: pointer;
	display: flex;
	align-self: center;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1;
	margin: 20px;
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	border-bottom: 2px #0062b2 solid;
}

#accueil #ecouter:hover {
	color: midnightblue;
}

#accueil .container-fluid {
	padding: 0;
}

#accueil #contenu-nouveautes header {
	background-image: url(../images/nouv.png);
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
}

#accueil h2 {
	margin: 0;
	padding-top: 75px;
	padding-left: 20px;
	color: white;
	font-size: 50px;
}

#accueil #contenu-nouveautes h2 {
	margin: 0;
	color: #ffffff;
	font-size: 40px;
	padding-left: 50px;
	padding-top: 80px;
}

#accueil .genre {
	font-weight: 600;
	color: #000000;
	padding-left: 35px;
	float: left;
	width: 100%;
}

#accueil #nouveautes-content {
	padding-left: 3%;
	padding-bottom: 5%;
}

#accueil .nouv-album {
	height: 200px;
	transition: all .2s ease-in-out;
}

#accueil .album-button-hover:hover img {
	transform: scale(1.1);
	-webkit-filter: blur(0.6px);
	/* Chrome, Safari, Opera */
	filter: blur(0.6px);
	cursor: pointer;
}

#accueil .album-button-hover:hover button {
	opacity: 0.8;
}

#accueil .album-button-hover p {
	min-width: 150px;
}

#accueil .nouv-image-titre {
	float: left;
}

#accueil .nouv-albums {
	clear: both;
	float: left;
}

#accueil .nouv-image-titre p {
	padding-left: 12%;
}

#accueil .nouv-image-titre p:first-of-type {
	color: #000000;
	font-weight: 700;
}

#accueil .nouv-image-titre p:nth-of-type(2) {
	color: #5c5a5a;
	font-size: 12px;
	margin-top: -8px;
	font-weight: 700;
	margin-bottom: 40px;
}

#accueil .album-button-hover {
	position: relative;
}

#accueil .button-album {
	position: absolute;
	top: 50%;
	left: 67%;
	transform: translate(-50%, -50%);
	background: none;
	border: none;
	background-image: url(../images/icon/play.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	opacity: 0;
	transition: all 500ms;
}

#accueil .button-album-bis {
	position: absolute;
	top: 50%;
	left: 42%;
	transform: translate(-50%, -50%);
	background: none;
	width: 30px;
	height: 30px;
	border: none;
	background-image: url(../images/icon/coeur.png);
	background-repeat: no-repeat;
	opacity: 0;
	transition: all 500ms;
}


/********************************
		
				PAGE DECOUVERTE
		
********************************/

#decouvertes header {
	height: 200px;
	background-image: url(../images/BG_decouverte.jpg);
	background-size: cover;
	background-position: bottom;
	margin: 0;
	background-repeat: no-repeat;
}

#decouvertes h2 {
	margin: 0;
	padding-top: 75px;
	color: white;
	font-size: 50px;
	text-transform: uppercase;
}

#decouvertes .noir {
	background-color: black;
}

#decouvertes .video h3 {
	text-align: center;
}

#decouvertes .video p {
	font-size: 18px;
	margin: 15px;
}

#decouvertes .arrow-left {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid white;
	position: absolute;
	right: 0;
	top: 0;
}

#decouvertes .album {
	height: 250px;
	padding: 0;
}

#decouvertes .album h3 {
	text-align: center;
}

#decouvertes .album p {
	font-size: 18px;
	margin: 15px;
}

#decouvertes .player {
	text-align: center;
}

#decouvertes .player img {
	width: 60px;
	margin-top: 40px;
}

#decouvertes #grosTitre {
	font-size: 40px;
	color: grey;
	text-align: center;
	margin-top: 40px;
}

@media screen and (max-width: 1200px) {
	.album-cache {
		display: none;
	}
	.Moitie {
		display: none
	}
	.bleu,
	.vert {
		height: 150px;
	}
}

#decouvertes img,
#mix img,
#ambiance img {
	width: 100%;
	height: 100%;
}


/********************************
		
				PAGE MIX
		
********************************/

#mix {
	margin-bottom: 40px;
}

#mix #contenu-mix header {
	background-image: url(../images/mixmusic.png);
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
}

#mix h2 {
	margin: 0;
	padding-top: 75px;
	padding-left: 20px;
	color: white;
	font-size: 50px;
}

#mix #contenu-mix h2 {
	margin: 0;
	color: #ffffff;
	font-size: 40px;
	padding-left: 50px;
	padding-top: 80px;
}

#mix .genre {
	font-weight: 600;
	color: #000000;
	padding-left: 35px;
	float: left;
	width: 100%;
}

#mix #mix-content {
	padding-left: 3%;
	padding-bottom: 5%;
}

#mix .album-button-hover:hover img {
	transform: scale(1.1);
	-webkit-filter: blur(1px);
	/* Chrome, Safari, Opera */
	filter: blur(1px);
	cursor: pointer;
}

#mix .album-button-hover:hover button {
	opacity: 0.8;
}

#mix .nouv-image-titre {
	float: left;
}

#mix .nouv-albums {
	clear: both;
	float: left;
}

#mix .nouv-image-titre p {
	padding-left: 12%;
}

#mix .nouv-image-titre p:first-of-type {
	color: #000000;
	font-weight: 700;
}

#mix .nouv-image-titre p:nth-of-type(2) {
	color: #5c5a5a;
	font-size: 12px;
	margin-top: -8px;
	font-weight: 700;
}

#mix .album-button-hover {
	position: relative;
}

#mix .button-album {
	position: absolute;
	top: 50%;
	left: 72%;
	transform: translate(-50%, -50%);
	background: none;
	border: none;
	background-image: url(../images/icon/play.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	opacity: 0;
	transition: all 500ms;
}

#mix .button-album-bis {
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
	background: none;
	width: 30px;
	height: 30px;
	border: none;
	background-image: url(../images/icon/coeur.png);
	background-repeat: no-repeat;
	opacity: 0;
	transition: all 500ms;
}

#mix .carousel-control {
	padding-top: 10%;
	width: 5%;
}

#mix .well {
	border: none;
	background: none;
	box-shadow: none;
	padding-top: 0px;
}

#mix .carousel-control.left {
	background: none;
	color: #000000;
	font-size: 60px;
	transform: translateX(-26px) translateY(-34px);
}

#mix .carousel-control.right {
	background: none;
	color: #000000;
	font-size: 60px;
	transform: translateX(35px) translateY(-34px);
}

#mix .carousel-inner {
	overflow: visible;
}


/********************************
		
				PAGE MIX
		
********************************/

#ambiance {
	margin-bottom: 40px;
}

#ambiance #contenu-ambiance header {
	background-image: url(../images/mixmusic.png);
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
}

#ambiance h2 {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding-top: 75px;
	padding-left: 20px;
	color: white;
	font-size: 50px;
}

#ambiance #contenu-ambiance h2 {
	margin: 0;
	color: #ffffff;
	font-size: 40px;
	padding-left: 50px;
	padding-top: 80px;
}

#ambiance .genre {
	font-weight: 600;
	color: #000000;
	padding-left: 35px;
	float: left;
	width: 100%;
}

#ambiance #ambiance-content {
	padding-left: 3%;
	padding-bottom: 5%;
}

#ambiance .album-button-hover:hover img {
	transform: scale(1.1);
	-webkit-filter: blur(1px);
	/* Chrome, Safari, Opera */
	filter: blur(1px);
	cursor: pointer;
}

#ambiance .album-button-hover:hover button {
	opacity: 0.8;
}

#ambiance .nouv-image-titre {
	float: left;
}

#ambiance .nouv-albums {
	clear: both;
	float: left;
}

#ambiance .nouv-image-titre p {
	padding-left: 12%;
}

#ambiance .nouv-image-titre p:first-of-type {
	color: #000000;
	font-weight: 700;
}

#ambiance .nouv-image-titre p:nth-of-type(2) {
	color: #5c5a5a;
	font-size: 12px;
	margin-top: -8px;
	font-weight: 700;
}

#ambiance .album-button-hover {
	position: relative;
}

#ambiance .button-album {
	position: absolute;
	top: 50%;
	left: 72%;
	transform: translate(-50%, -50%);
	background: none;
	border: none;
	background-image: url(../images/icon/play.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	opacity: 0;
	transition: all 500ms;
}

#ambiance .button-album-bis {
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
	background: none;
	width: 30px;
	height: 30px;
	border: none;
	background-image: url(../images/icon/coeur.png);
	background-repeat: no-repeat;
	opacity: 0;
	transition: all 500ms;
}

#ambiance .carousel-control {
	padding-top: 10%;
	width: 5%;
}

#ambiance .well {
	border: none;
	background: none;
	box-shadow: none;
	padding-top: 0px;
}

#ambiance .carousel-control.left {
	background: none;
	color: #000000;
	font-size: 60px;
	transform: translateX(-26px) translateY(-34px);
}

#ambiance .carousel-control.right {
	background: none;
	color: #000000;
	font-size: 60px;
	transform: translateX(35px) translateY(-34px);
}

#ambiance .carousel-inner {
	overflow: visible;
}


/********************************
		
				PAGE PROFIL
		
********************************/

#profil header {
	background-image: url(../images/background.jpg);
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
}

#profil #pp {
	height: 170px;
	width: auto;
	position: relative;
	top: -95px;
	margin-left: 10%;
	display: block;
}

#profil #btn-flow {
	outline: none;
	position: relative;
	top: -220px;
	left: 290px;
	background-color: #007FEB;
	color: #FFFFFF;
	transition: all 150ms ease-in-out;
	appearance: none;
	border: none;
	border-radius: 0.6em;
	cursor: pointer;
	display: flex;
	align-self: center;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1;
	margin: 20px;
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	border-bottom: 2px #0062b2 solid;
}

#profil #btn-flow:hover {
	border-bottom: 2px #007FEB solid;
}

#profil #btn-compte {
	outline: none;
	position: relative;
	top: -284px;
	left: 434px;
	background-color: #ECECEC;
	color: #7a727d;
	transition: all 150ms ease-in-out;
	appearance: none;
	border: none;
	border-radius: 0.6em;
	cursor: pointer;
	display: flex;
	align-self: center;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1;
	margin: 20px;
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	border-bottom: 2px #7a727d solid;
}

#profil #btn-compte:hover {
	border-bottom: 2px #ECECEC solid;
}

#profil #fiche-profil ul {
	color: #7a727d;
	margin-top: -220px;
	font-weight: 700;
	border-bottom: 1px solid #DDD;
}

#profil #fiche-profil li {
	display: inline-block;
	cursor: pointer;
	margin-left: 50px;
	padding: 0 15px 10px 15px;
	border-bottom: 3px solid transparent;
	transition: all 350ms;
}

#profil #fiche-profil li.active,
#profil #fiche-profil li:hover {
	color: #161515;
	border-bottom: 3px solid #007FEB;
}

#profil .profil-content {
	margin-bottom: 50px;
}

#profil .profil-content p {
	color: #4b4b4b;
	margin-bottom: 0px;
}

#profil .profil-content {
	display: none;
}

#profil .profil-active {
	display: block;
}

#profil .albums-profil .nouv-image-titre p:nth-of-type(2) {
	color: #5c5a5a;
	font-size: 12px;
	margin-top: 0px;
	font-weight: 700;
}

#profil .artistes-profil .nouv-image-titre p:nth-of-type(2) {
	color: #5c5a5a;
	font-size: 12px;
	margin-top: 0px;
	font-weight: 700;
}

#profil .playlists-liste .nouv-image-titre p:nth-of-type(2) {
	color: #5c5a5a;
	font-size: 12px;
	margin-top: 0px;
	font-weight: 700;
}

#profil .playlists-liste {
	margin-left: 37px;
}

#profil .albums-profil {
	margin-left: 37px;
}

#profil .artistes-profil {
	margin-left: 37px;
}

#profil .nouv-album {
	height: 200px;
	transition: all .2s ease-in-out;
}

#profil .album-button-hover:hover img {
	transform: scale(1.1);
	-webkit-filter: blur(1px);
	/* Chrome, Safari, Opera */
	filter: blur(1px);
	cursor: pointer;
}

#profil .album-button-hover:hover button {
	opacity: 0.8;
}

#profil .nouv-image-titre {
	float: left;
}

#profil .nouv-albums {
	clear: both;
	float: left;
}

#profil .nouv-image-titre p {
	padding-left: 12%;
}

#profil .nouv-image-titre p:first-of-type {
	color: #000000;
	font-weight: 700;
}

#profil .nouv-image-titre p:nth-of-type(2) {
	color: #5c5a5a;
	font-size: 12px;
	margin-top: -8px;
	font-weight: 700;
}

#profil .album-button-hover {
	position: relative;
}

#profil .button-album {
	position: absolute;
	top: 50%;
	left: 72%;
	transform: translate(-50%, -50%);
	background: none;
	border: none;
	background-image: url(../images/icon/play.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	opacity: 0;
	transition: all 500ms;
}

#profil .button-album-bis {
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
	background: none;
	width: 30px;
	height: 30px;
	border: none;
	background-image: url(../images/icon/coeur.png);
	background-repeat: no-repeat;
	opacity: 0;
	transition: all 500ms;
}


/********************************
		
				PAGE NOUVEAUTES
		
********************************/

#nouveautes {
	margin-bottom: 70px;
}

#nouveautes #contenu-nouveautes header {
	background-image: url(../images/nouv.png);
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
}

#nouveautes h2 {
	margin: 0;
	padding-top: 75px;
	padding-left: 20px;
	color: white;
	font-size: 50px;
	text-transform: uppercase;
}

#nouveautes #contenu-nouveautes h2 {
	margin: 0;
	color: #ffffff;
	font-size: 40px;
	padding-left: 50px;
	padding-top: 80px;
}

#nouveautes .genre {
	font-weight: 600;
	color: #000000;
	padding-left: 35px;
	float: left;
	width: 100%;
}

#nouveautes #nouveautes-content {
	padding-left: 3%;
	padding-bottom: 5%;
}

#nouveautes .nouv-album {
	height: 200px;
	transition: all .2s ease-in-out;
}

#nouveautes .album-button-hover:hover img {
	transform: scale(1.1);
	-webkit-filter: blur(0.6px);
	/* Chrome, Safari, Opera */
	filter: blur(0.6px);
	cursor: pointer;
}

#nouveautes .album-button-hover:hover button {
	opacity: 0.8;
}

#nouveautes .album-button-hover p {
	min-width: 150px;
}

#nouveautes .nouv-image-titre {
	float: left;
	position: absolute;
}

#nouveautes .nouv-albums {
	clear: both;
	float: left;
}

#nouveautes .nouv-image-titre p {
	padding-left: 12%;
}

#nouveautes .nouv-image-titre p:first-of-type {
	color: #000000;
	font-weight: 700;
}

#nouveautes .nouv-image-titre p:nth-of-type(2) {
	color: #5c5a5a;
	font-size: 12px;
	margin-top: -8px;
	font-weight: 700;
}

#nouveautes .album-button-hover {
	position: relative;
}

#nouveautes .button-album {
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
	background: none;
	border: none;
	background-image: url(../images/icon/play.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	opacity: 0;
	transition: all 500ms;
}

#nouveautes .button-album-bis {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: none;
	width: 30px;
	height: 30px;
	border: none;
	background-image: url(../images/icon/coeur.png);
	background-repeat: no-repeat;
	opacity: 0;
	transition: all 500ms;
}

#nouveautes .carousel-control {
	padding-top: 10%;
	width: 5%;
}

#nouveautes .well {
	border: none;
	background: none;
	box-shadow: none;
	padding-top: 0px;
}

#nouveautes .carousel-control.left {
	background: none;
	color: #000000;
	font-size: 60px;
	transform: translateX(-26px) translateY(-34px);
}

#nouveautes .carousel-control.right {
	background: none;
	color: #000000;
	font-size: 60px;
	transform: translateX(35px) translateY(-34px);
}

#nouveautes .carousel-inner {
	overflow: visible;
}


/********************************
		
				PAGE TOP
		
********************************/

#top header {
	height: 200px;
	background-image: url(../images/bgTop.jpeg);
	background-size: cover;
	margin: 0;
	background-repeat: no-repeat;
}

#top h2 {
	margin: 0;
	padding-top: 75px;
	color: white;
	font-size: 50px;
}

#top h3 {
	color: grey;
}

#top #topLignes {
	margin-top: 30px;
}

#top #topLignes div {
	border-bottom: grey solid 1px;
}

#top #topLignes img {
	width: 30px;
	height: 30px;
	display: inline-block;
}

#top #topLignes p {
	display: inline-block;
	margin-left: 30px;
	margin-bottom: 0px;
	line-height: 40px;
	color: grey;
}

#top .duoBouton {
	height: 70px;
	background-color: aquamarine;
	margin-top: 40px;
}

#top #genre {
	background-image: url(../images/genre.png);
	background-position: center;
	text-transform: uppercase;
	color: white;
	text-align: center;
	font-size: 23px;
}

#top #autourDeVous {
	background-image: url(../images/autour_de_vous.jpg);
	background-position: center;
	text-transform: uppercase;
	color: white;
	text-align: center;
	font-size: 23px;
}

#top .your-class {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#top .slider {
	height: 120px;
	margin-left: 50px;
}

#top .vide {
	height: 80px;
}

#top .slider img{
	height: 120px;
}


/********************************
		
				GESTION DISPLAY
		
********************************/

#accueil,
#decouvertes,
#mix,
#ambiance,
#profil,
#nouveautes,
#top {
	display: none;
}

.pageActive {
	display: block;
}